
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <li><button class="btn btn-danger" style="position:absolute;right: 20px;top: 5px;" (click)="logout()">Logout</button></li>
      <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://www.wns.com/">WNS</a> &copy; 2018 wns.</span>
  <span class="ml-auto">Powered by <a href="https://www.wns.com/">WNS for Dashboard</a></span>
</app-footer>
